# APP
APP_NAME=Laravel
APP_CONCEPTOR=
APP_ENV=development
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# DATABASE
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# MAIL
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# TELESCOPE
TELESCOPE_ENABLED=

# IGDB
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=

# Sentry
SENTRY_LARAVEL_DSN=
SENTRY_ENVIRONMENT=
SENTRY_SAMPLE_RATE=1.0
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0.1
SENTRY_SEND_DEFAULT_PII=false

# OTHER
QUEUE_CONNECTION=database
