.home-text {
    &-label > p {
        width: max-content;
    }

    &-content > :first-child {
        display: inline-block;
        padding-left: 100%;
        animation: defilement 80s infinite linear;
        white-space: nowrap;

        &:hover {
            animation-play-state: paused;
        }
    }

    @keyframes defilement {
        0% {
            transform: translate3d(0,0,0);
        }

        100% {
            transform: translate3d(-100%,0,0);
        }
    }
}
