body {
    min-height: 100vh;

    .main {
        &-home,
        &-page {
            min-height: 100vh;
        }

        &-home-latest {
            width: 100%;
            height: 2rem;

            .fw-bold {
                min-width: 10.4rem;
            }
        }
    }

    footer a {
        color: $color-light;

        &:hover, &:focus {
            opacity: .75;
        }
    }
}

.title-font-regular {
    font-family: $font-default-title;

    .angles {
        position: absolute;
        z-index: 0;
        background:
            linear-gradient(to right, #{$color-primary} 2px, transparent 2px) 0 0,
            linear-gradient(to bottom, #{$color-primary} 2px, transparent 2px) 0 0,
            linear-gradient(to left, #{$color-primary} 2px, transparent 2px) 100% 0,
            linear-gradient(to bottom, #{$color-primary} 2px, transparent 2px) 100% 0,
            linear-gradient(to left, #{$color-primary} 2px, transparent 2px) 100% 100%,
            linear-gradient(to top, #{$color-primary} 2px, transparent 2px) 100% 100%,
            linear-gradient(to right, #{$color-primary} 2px, transparent 2px) 0 100%,
            linear-gradient(to top, #{$color-primary} 2px, transparent 2px) 0 100%;
        background-repeat: no-repeat;
        background-size: 7px 7px;
        inset: 0;
    }
}

.github-icon {
    position: absolute;
    z-index: $zindex-fixed;
    width: 10rem;
    height: 2rem;
    transform: translate(-3rem, 1rem) rotate(-45deg);

    svg {
        transform: rotate(45deg);
    }
}

.btn-scroll {
    z-index: $zindex-fixed;
    overflow: hidden;
    width: 50.7px;
    height: 58px;
    transition: 0.3s;

    &-hidden {
        width: 0;
        padding: 0 !important;
        border: 0 !important;
        opacity: 0;
        visibility: hidden;
    }
}

.breadcrumb {
    overflow: hidden;
    height: 58px;
    border-bottom-right-radius: var(--bs-border-radius-lg);
    border-top-right-radius: var(--bs-border-radius-lg);
    transition: .3s;

    &-item + &-item::before {
        color: $color-light !important;
    }

    &-resize-wrapper {
        width: calc(100% - 2rem) !important;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &-resize-btn {
        left: 6.6px;
        width: calc(100% - 6.6px);
        height: 58px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.list-group-item {
    span {
        z-index: 5;
    }

    &-span {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 0.2rem;
        height: 100%;
    }

    &:hover &-span {
        width: 100%;
    }
}

.toast-container {
    right: 50%;
    transform: translateX(50%);

    @include media-breakpoint-up(lg) {
        right: 0%;
        transform: translateX(0);
    }
}

.form-control, .form-select {
    transition: .15s;

    &:hover, &:focus {
        background-color: #4d6075 !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}
